.button{
  background-color: $isabelline;
  color:$smoky-black;
  padding: 5px 8px;

  &:hover{
    opacity: 0.8;
    background-color: $granite-gray;
    color: $white;
  }

  &--form{
      width: 170px;
      height: 40px;
      border: none;
      position: absolute;
      transform-origin: top left;
      transform: rotate(90deg);
      left: 100%;

      /*
    @include response-to('device-large') {
      width: 220px;
    }*/
    }
}