.header {
  width: 100%;
  height: 58vw;
  overflow: hidden;

  @include response-to('device-medium') {
    height: 44vw;
    position: relative;
  }

  @include response-to('device-xlarge') {
    position: static;
    width: 57%;
    float: right;
  }

  &__img {
    width: 100%;

    @include response-to('device-medium') {
      position: absolute;
      top: -40%;
    }

    @include response-to('device-xlarge') {
      position: static;
      height: 100%;
      object-fit: cover;
    }
  }
}