.header {
  width: 100%;
  height: 58vw;
  overflow: hidden;

  @include mq-header($device-md) {
    height: 44vw;
    position: relative;
  }

  @include mq-header($device-xl) {
    position: static;
    width: 57%;
    height: 710px;
    float: right;
  }

  &__img {
    width: 100%;
    @include mq-header($device-md) {
      position: absolute;
      top: -40%;
    }
    @include mq-header($device-xl) {
      position: static;
      height: 100%;
      object-fit: cover;
    }
  }
}