.main {
  width: 100%;
  height: auto;

  @include response-to('device-xlarge') {
    width: 43%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}