.navbar__container-logo {
  height: 56px;
  @include response-to('device-medium') {
    height: 90px;
  }
}

.navbar__logo{
   @include response-to('device-xlarge') {
    transform:rotate(-90deg); 
  }
}