.section-description{
  padding: 35px 0;
  padding-left: calc((100vw - 40px)*0.1);
  padding-right: 40px;
  min-height: calc(100vh - 56px - 58vw - 170px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include response-to('device-medium'){
    padding-right: calc((100vw - 40px)*0.2);
    min-height: calc(100vh - 80px - 44vw - 170px);
  }
  @include response-to('device-xlarge') {
    padding-left: calc((43vw - 40px)*0.1);
    padding-right: calc((43vw - 40px)*0.2);
  }
}